* {
    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;

    font-family:Helvetica, sans-serif;
    
    font-size: large;
    
}

header{
    background-color: #ca0606;
    padding: 10px;
    padding-bottom: 5em;
    border-bottom: 3px solid #ff9100;

    nav {
        float: right;
    
        margin-top: 2em;
        margin-right: 1em;
    }

    nav ul li {
        display: inline;
        list-style: none;
        margin-left: 2em;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    .logo {
        max-width: 200px;
        width: 20%;
        float:left;
    }

    a {
        color:#ff9100;
        text-decoration: none;
    }

    a:hover {
        color: #ff0000;
    }
}
body{
    background-color: #eee;
}

main{
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #eee;
}

.sobremim{
    background-color: #ff9100;
    
    padding: 2em;
    border: 5px solid #ca0606;
    border-radius: 30px;
    text-align: justify;
    display:flex;
    flex-direction:row;
    box-shadow: 1px 2px 8px black;

    ul li{
        list-style: none;
    }
}

#foto{
    border: 5px solid #ca0606;
    border-radius: 1000px;
    max-width: 12em;
    margin-right: 2px;
    
}

#introducao{
    padding-top: 1em;
    padding-right: 10px;
    padding-left: 10px;
    border: 5px solid #ca0606;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex: 2;
    
    
}



#habilidades{
    padding-top: 1em;
    padding-right: 10px;
    padding-left: 10px;
    border-top: 5px solid #ca0606;
    border-bottom: 5px solid #ca0606;
    border-right: 5px solid #ca0606;
    flex: 1;
    text-align: center;
}

#caracteristicas{
    padding-top: 1em;
    padding-right: 10px;
    border-top: 5px solid #ca0606;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 5px solid #ca0606;
    border-right: 5px solid #ca0606;
    flex: 1;
    text-align: center;
}

#botao{
    padding-top: 1em;
    align-self: center;

    button{
        background-color: #ff9100;
    border-radius: 5px;
    padding: 5px;
    border-color: #000000;
    cursor: pointer;
    box-shadow: 1px 2px 8px black;
    transition: transform 0.5s ease;
    }
    button:hover{
        background-color: rgb(255, 0, 0);
        transform: scale(1.1);
    }
}

footer{
    background-color: #ca0606;
    
    border-top: 3px solid #ff9100;
    

    

    .social{
        padding-top: 20px;
        padding-left: 10px;  
        transition: transform 0.5s ease;   
        display: flex; 
    }

    #direitos{
        
        font-size: small;
        text-align: right;
        padding-right: 5px;
        padding-top: 30px;
        padding-bottom: 10px;
        flex: 3;
        cursor: default;
        float: bot;
    }

    #git{
        transition: transform 0.5s ease; 
        padding-right: 10px;    
        padding-top: 20px;
        cursor: pointer; 
    }

    #git:hover{
        transform: scale(1.2);
    }
    #insta{
        transition: transform 0.5s ease;
        cursor: pointer; 
        padding-top: 20px;
    }
    
    #insta:hover{
        transform: scale(1.2);
    }
}





